.accordion {
    .accordion-item {


        >div:not(.accordion-content),
        button {
            position: relative;
            display: block;
            text-align: left;
            width: 100%;
            padding: 1rem 3rem 1rem 2rem;

            font-size: 1.15rem;
            font-weight: 600;
            background: none;
            outline: none;

            border-bottom: 1px solid lighten($color-black, 20%);
            &:hover,
            &:focus {
                cursor: pointer;

                // color: $blue;
                &::after {
                    cursor: pointer;
                    color: $color-primary;
                }
            }

            .accordion-title {
                // padding: 1em 1.5em 1em 0;
            }

            .icon {
                display: inline-block;
                position: absolute;
                top: 50%;
                right: 1rem;
                width: 22px;
                height: 22px;
                border: 1px solid;

                background-color: lighten($color-black, 20%);
                color: $color-white;

                border-radius: 22px;

                transform: translateY(-50%);

                &::before {
                    display: block;
                    position: absolute;
                    content: '';
                    top: 9px;
                    left: 5px;
                    width: 10px;
                    height: 2px;
                    background: currentColor;
                }

                &::after {
                    display: block;
                    position: absolute;
                    content: '';
                    top: 5px;
                    left: 9px;
                    width: 2px;
                    height: 10px;
                    background: currentColor;
                }
            }
        }

        button[aria-expanded='true'],
        >div.expanded {

            .icon {
                &::after {
                    width: 0;
                }
            }

            +.accordion-content {
                opacity: 1;
                max-height: 9999px;
                transition: all 200ms linear;
                will-change: opacity, max-height;
            }
        }
    }

    .accordion-content {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        padding: 0 1.8rem;

        transition: opacity 200ms linear, max-height 200ms linear;
        will-change: opacity, max-height;

        color:$color-white;
        p {
            font-size: 1rem;
            margin: 1em 0;
        }

        a {
            font-weight: bold;
        }
    }
}