@import '../config/mixins';

html {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
}

body {
    font-family: $body-font;
    background-color: $color-black;
    color:$color-white;
}

.main {
    padding:0 1rem;
    &__section {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        margin: rem(96) 0;
        padding:rem(32) rem(32);
        border-top: 3px solid $color-secondary;
        background-color: lighten($color-black, 8%);

        &:first-child {
            @media (max-width:992px) {
                margin-top: rem(32);
            }
        }

        :where(h1,h2,h3,h4,h5,h6,p) {
            margin:rem(16) 0;
        }

        h1,h2,h3,h4,h5,h6 {
            text-align: center;
            color:$color-primary;
        }

        &__menu {
            margin: rem(48) 0;
            &-item {
                text-align: center;
            }
        }
    }
}

.hero {
    position: relative;
    height: 80vh;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    @media (max-width:992px) {
        height: 60vh;
    }

    &__inner {
        max-width: 1140px;
        margin: auto;
        padding: 0 1rem;

        &__content {
            text-align: center;
            padding:rem(32) 0;
            color:$color-white;

            h1,p {
                margin:1rem 0;
            }

            h1,h2,h3 {
                color:$color-secondary;
            }
        }
    }

    .tns-nav {
        position: absolute;
        bottom:0;
        left:0;

        width: 100%;
        z-index: 1;

        display: flex;
        align-items: center;
        justify-content: center;
        gap:1rem;
        padding:2rem;

        > button {
            width: 15px;
            height: 15px;
            background: rgba($color-white, 0.35);
            border-radius: 50%;

            &[class*="active"] {
                background: rgba($color-white,1);
            }
        }
    }

    &__slideshow {
        position: absolute;
        left: 0;
        top:0;
        width: 100%;
        height: 100%;
        z-index: -1;
        &::before {
            content:'';
            width: 100%;
            height: 100%;
            background: rgba($color-black, 0.65);

            position: absolute;
            left: 0;
            top:0;
            z-index: 1;
        }

        .slideshow {

            &__item {
                &__image {
                    position: relative;
                    height: 0;
                    padding-bottom: 80vh;
                    width: 100%;
                    height: 100%;

                    display: block;
                    @media (max-width:992px) {
                    padding-bottom: 60vh;
                    }
                    img {
                        position: absolute;
                        left: 0;
                        top:0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
        }
    }

}

.wrapper {
    &__tabs {
        &__menu[role=tablist] {
          display: flex;
          align-items: center;
          gap:0.25rem;
          list-style: none;
          border-bottom: 2px solid $color-secondary;
          
          height: 100%;
          li {
            a {
              display: inline-flex;
              align-items: center;
              justify-content: center;
              height: 100%;
              width: 100%;
  
              padding: 0.65rem 1rem;
  
              font-size: 1.175rem;
              text-transform: uppercase;
              
              border-radius: 0;
              border: 0!important;

              color:$color-white;
              text-decoration: none;
              
  
              @media (max-width:60rem) {
                  font-size: 1rem;
              }
  
              &:hover {
                  background-color: transparent;
                  color:darken($color-grey, 25%);
              }
  
              &[role="tab"] {
                color:darken($color-grey, 25%);
              }

              &[role="tab"][aria-selected="true"] {
                background-color: $color-secondary;
                color:$color-white;
              }
            }
            
          }
        }
        &__content {
            background-color: lighten($color-black, 15%);
            padding: 1.5rem;
        }
    }
}